*{
    margin: 0;
    padding: 0;
    font-family: comic sans ms, cursive;
}

#header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar{
    padding: 50px, 0;
}

.navbar-brand{
    font-weight: bold;
    font-size: 2.5em;
    text-transform: uppercase;
    color: white;
}

.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 60px;
}

.nav-link{
    color: aliceblue !important;
    letter-spacing:  2px;
    font-size: 1em;
    font-weight: 700;
}

.nav-link:hover{
    background: rgb(13, 82, 146) !important;
    color: #262626 !important;
    border-radius: 5px;
    transition: all 0.6s ease 0s;
}

.btn:hover{
    background: rgb(13, 82, 146) !important;
    color: white !important;
    border-radius: 5px;
    transition: all 0.6s ease 0s;
}

.main{
    position: relative;
    background: url(first.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 280px 0 220px;
}

.main h2{
    font-size: 4.5em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 60px;
}

.main p{
    margin-top: 0.5em;
    padding: 0;
    font-size: 25px;
    color: white;
    padding-bottom: 30px;
    padding-left: 40px;
}
  
.main .readMore{
    background: rgb(13, 82, 146);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    margin-left: 500px;
}

.main2 .card-img-top{
    border-radius: 50px;
    padding: 20px;
}

.main2 .card{
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 8px 8px 16px 2px;
}
.main2 .card-body{
    padding: 25px;
    margin-top: -15px;
}
.main2 .btn-primary{
    border-radius: 50px;
    width: 120px;
}
.main2 .btn-primary:hover{
    background-color: rgb(13, 82, 146);
    border: none;
}
.main2 h3,h5{
    color: rgb(0, 91, 228);
}